html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}

th, td {
    vertical-align: top;
    text-align: left;
}

#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.ol-popup {
    display: none;
    position: fixed;
    background-color: white;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    right: 265px;
    transform: translate(-20%, 0%);
    top:0px;   
    height:717px;
    width: 218px;
    min-width: 150px;
    z-index: 999;
}

.ol-popup-closer {
    text-decoration: none;
    position: relative;
    top: 2px;
    right: 8px;
}

.layer-switcher {
    right: 0px;
}

.ol-attribution a {
    text-decoration: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
}
